/*Cabeçalho*/
header{
    display: flex; /* Alinhar h2 e nav */
    justify-content: space-between; /* Espaço entre h2 e nav */
    margin: 20px 60px 20px 60px; /* Margens: top 20, right 60, buttom 20, left 60 */
    padding-bottom: 20px; /* Padding abaixo do conteúdo */
    border-bottom: 1px solid rgb(183, 34, 252); /* linha divisória */
    h2{
        color: rgb(183, 34, 252); /* Cor de fonte */
    }

    /* Navegação Início */
    nav{
        ul{
            display: flex; /* Alinhar conteúdo de navegação */
            gap: 25px; /* Espaçamento entre cada opção */
            align-items: center; /* Alinhamento dos itens*/
            list-style: none; /* Remove o marcador de lista */
            li{
                a{
                    color: white; /* Cor da fonte */
                    text-decoration: none; /* Remover decoração da lista */
                    svg{
                        margin-top: 5px; /* Margem superior para os ícones */
                    }
                    }
                }
            }
        }
}