@media screen and (max-width : 1024px) and (min-width : 900px){
    #menu {
        display: none;
    }
}
    
@media screen and (max-width: 899px) and (min-width: 600px) {
    #menu-cheio {
        display: none;
    }

    #menu {
        display: block;
    }
}
